Body {

    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    text-align: center;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 50px;
}

h2 {
    font-family: 'Crimson Text', serif;
}

nav { 
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
  }
  
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-shadow: 2px 4px 4px rgb(0, 0, 0);
}





form {
    background-color: rgb(111, 111, 138);
}


img {
    border-radius: 50% 20% / 10% 40%;

    height: auto;
}

p {
    font-family: 'Scope One', serif;
    background-color: #c26aaf9a;
    color: #fff9fdde;
}

/* list */
ul {
    list-style: none;
    justify-content: space-around;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #849ecc4d;
}

tr:hover {
    background-color: #a9c9ff5e;
}

i {
    font-size: 60px;
}

iframe {
    width: 560px;
    height: 315px;
    border: 3px solid rgb(0, 0, 0);
}

.form-example {
    display: table;
}

footer {
    background-color: rgb(138, 116, 116);
    width: 100%;
}

/* CSS Media querys */

@media (min-width: 640px) {
}

@media  only screen and (min-width: 768px) {

}

@media only  screen and (min-width: 1024px)	{ 

}
@media only screen and (min-width: 1280px)	{

}